<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Wave Study</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!-- Início do NavBar-->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="../../../public/logo.png" width="120" height="80" class="d-inline-block align-top" alt="New Wave Study">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="/">Início <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Áreas do Conhecimento
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/views/matematica">Matemática</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Ciências da Natureza</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Ciências Humanas</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Linguagens</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Redação</a>
                </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Exercícios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Matemática</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Ciências da Natureza</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Ciências Humanas</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Linguagens</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Redação</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre o Projeto</a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link" href="#">Contato</a>
                </li> 
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!-- Fim do NavBar-->

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col">
            <form method="post">
                <div>
                    <p class="exercicio">Exercício 1</p><br/>
                    <p class="cont">
                        Qual número abaixo é divisível por 6?   
                    </p><br/>
                    <p>
                        a) 1524898 <input type="radio" name="ex1" /><br />
                        b) 1524897 <input type="radio" name="ex1" /><br />
                        c) 1524896 <input type="radio" name="ex1" /><br />
                        d) 1524895 <input type="radio" name="ex1" /><br />
                        e) 1524894 <input type="radio" name="ex1" /><br />
                    </p>
                </div>
                <div>
                    <br/><p class="exercicio">Exercício 2</p><br/>
                    <p class="cont">
                        (EsPCEx) No número 34n27, qual é o algarismo que 
                        substitui n para que ele seja divisível por 9?    
                    </p><br/>
                    <p>
                        a) 5 <input type="radio" name="ex2" /><br />
                        b) 6 <input type="radio" name="ex2" /><br />
                        c) 9 <input type="radio" name="ex2" /><br />
                        d) 1 <input type="radio" name="ex2" /><br />
                        e) 2 <input type="radio" name="ex2" /><br />
                    </p>
                </div>
                <div>
                    <p class="exercicio">Exercício 3</p><br/>
                    <p class="cont">
                        (CFS) É divisível por 2, 3 e 5 simultaneamente o número:
                    </p><br/>
                    <p>
                        a) 235 <input type="radio" name="ex3" /><br />
                        b) 520 <input type="radio" name="ex3" /><br />
                        c) 230 <input type="radio" name="ex3" /><br />
                        d) 510 <input type="radio" name="ex3" /><br />
                        e) 532 <input type="radio" name="ex3" /><br />
                    </p>
                </div>
                <div>
                    <p class="exercicio">Exercício 4</p>
                    <p class="cont">
                        (PM SE – IBFC). Um número é composto por 3 
                        algarismos sendo que o algarismo da centena 
                        o 7 e o da unidade é o 4. A soma dos possíveis 
                        algarismos da dezena desse número de modo que 
                        ele seja divisível por 3 é:
                    </p>
                    <p>
                        a) 15 <input type="radio" name="ex4" /><br />
                        b) 18 <input type="radio" name="ex4" /><br />
                        c) 12 <input type="radio" name="ex4" /><br />
                        d) 9 <input type="radio" name="ex4" /><br />
                        e) 55 <input type="radio" name="ex4" /><br />
                    </p>
        
                </div>
                <div>
                    <p class="exercicio">Exercício 5</p>
                    <p class="cont">
                        (Algás – UFAL). Critério de divisibilidade por 11: 
                        Esse critério é semelhante ao critério de divisibilidade 
                        por 9. Um número é divisível por 11 quando a soma 
                        alternada dos seus algarismos é divisível por 11. 
                        Por soma alternada queremos dizer que somamos e 
                        subtraímos algarismos alternadamente 
                        (539 ⇒5 – 3 + 9 = 11). Se A e B são 
                        algarismos do sistema decimal de 
                        numeração e o número 109AB é múltiplo 
                        de 11, então 
                    </p>
                    <p>
                        a) B = A <input type="radio" name="ex5" /><br />
                        b) A + B = 1 <input type="radio" name="ex5" /><br />
                        c) B - A = 1 <input type="radio" name="ex5" /><br />
                        d) A - B = 10 <input type="radio" name="ex5" /><br />
                        e) A + B = -10 <input type="radio" name="ex5" /><br />
                    </p>
                </div>
                <div>
                    <p class="exercicio">Exercício 6</p>
                    <p class="cont">
                        Se um número natural n for dividido por 27, o resto 
                        desta divisão será igual a 7. Se dividirmos o 
                        número n + 50 também por 27, qual será o resto obtido?
                    </p>
                    <p>
                        a) 3 <input type="radio" name="ex6" /><br />
                        b) 9 <input type="radio" name="ex6" /><br />
                        c) 8 <input type="radio" name="ex6" /><br />
                        d) 1 <input type="radio" name="ex6" /><br />
                        e) 2 <input type="radio" name="ex6" /><br />
                    </p>
                </div>
                <div>
                    <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" title="Popover title" data-placement="right" data-content="1 - E / 2 - E / 3 - D / 4 - C / 5 - C / 6 - A">
                        Respostas [ veja ]
                    </button>
                </div>
            </form>
        </div>
        <div class="col-1"></div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Áreas do conhecimento</h3>
                <p> <a href="pages/matematica.html">Matemática</a> </p>
                <p>Ciências da Natureza</p>
                <p>Ciências Humanas</p>
                <p>Linguagens</p>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>